@charset "UTF-8";
/* CSS Document */

/*------------------------------------------------------------------*/
.header {
  height: 44px;
  background-color: #FFF;
  position: relative;
}
.header h1 {
  font-size: 1.3rem;
  color: #333;
  position: absolute;
  left: 24px;
  top: 10px
}
.header__navigation {
  display: none;
}
/*--------------------------*/
@media (max-width: 480px) {
  /* ハンバーガアイコン */
  #nav-drawer {
    padding: 10px 24px 0 0;
    text-align: right;
    position: relative;
  }
  #nav-open {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 22px;
  }
  #nav-open span,#nav-open span:before,#nav-open span:after {
    position: absolute;
    height: 3px;
    width: 25px;
    background-color: #777;
    display: block;
    content: "";
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }
  #nav-close {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
  }
  #nav-content {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 70%;
    background-color: #fff;
    height: 100%;
    text-align: left;
    padding: 15px 0 0 24px;
    transform: translateX(-105%);
    transition: 0.3s ease-in-out;
    box-shadow: 5px 0 25px rgba(0,0,0,25);
  }
  .nav-drawer__title {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 46px;
  }
  .nav-drawer__link-top {
    display: block;
  } 
  #nav-content ul li {
    margin-bottom: 36px;
  }
  #nav-content ul li a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
  }
  #nav-input:checked ~ #nav-close {
    display: block;
  }
  #nav-input:checked ~ #nav-content {
    transform: translateX(0%);
  }
}
/*--------------------------*/
@media (min-width: 480px) {
  .header {
    max-width: 1040px;
    margin: 0 auto;
    min-height: 50px;
    padding: 14px;
    box-sizing: border-box;
  }
  .header h1 {
    font-size: 2rem;
    top: 14px;
  }
.header__navigation {
  display: block;
  text-align: right;
 }
  .header__navigation ul li {
    display: inline-block;
    margin-left: 40px;
  }
  .header__navigation ul li a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    color: #333;
  }
}

/*------------------------------------------------------------------*/

/*------------------------------------------------------------------*/

.main {
  background-color: #f6f8f9;
  padding-bottom: 80px;
}
/*--------------------------*/
@media (min-width: 1040px) {
  main {
    padding-bottom: 120px;
  }
}

/*------------------------------------------------------------------*/

/*------------------------------------------------------------------*/

.section-top {
  margin-bottom: 60px;
}
.section-top p {
  font-size: 1.8rem;
  font-weight: 600;
}
.section-top__image {
  height: 388px;
  background-image: url("../images/top/top_bg.jpg");
  background-position: 67% 10%;
  background-size: auto 130%;
  background-repeat: no-repeat;
  color: #FFF;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.section-top__image h2 {
  font-size: 2.4rem;
  position: absolute;
  width: 100%;
  top: 15px;
  line-height: 48px;
}
.section-top__lead {
  margin: 0 24px;
}
/*--------------------------*/
@media (min-width: 480px) {
  .section-top p {
  font-size: 2.4rem
}
  .section-top__image {
    height: 600px;
    margin-bottom: 60px;
    background-size: auto;
    background-position: center;
  }
  .section-top__image h2 {
    font-size: 4rem;
    position: static;
    max-width: 1040px;
    margin: 0 auto;
    text-align: left;
    padding: 60px 0 0 24px;
    line-height: 55px;
  }
  .section-top__lead {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 60px;
  }
}

/*------------------------------------------------------------------*/

/*------------------------------------------------------------------*/
.section-info {
	padding-top: 40px;
	background-color: #FFF;
	margin-bottom: 60px;
}
.section-info__description {
  padding: 0 24px;
}
.section-info h2 {
  padding-bottom: 40px;
  border-bottom: solid 1px #333;
  margin-bottom: 40px;
}
.section-info dl {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.section-info dl dd {
  padding-bottom: 20px;
}
.section-info__map {
	height: 330px;
}
.section-info__map iframe {
	width: 100%;
	height: 328px;
	border: solid 1px #333;
}
/*--------------------------*/
@media (min-width: 1040px) {
  .section-info {
    padding: 60px 36px 20px 36px;
    margin: 0 auto 60px;
    max-width: 1040px;
    box-sizing: border-box;
  }
  .section-info h2 {
    max-width: 840px;
    text-align: left;
    padding-bottom: 40px;
    border-bottom: solid 1px #333;
    margin: 0 auto 40px;
  }
  .section-info__break:after {
  content: "";
 }
 .section-info dl {
  max-width: 840px;
  overflow: hidden;
  text-align: left;
  margin: 0 auto;
}
.section-info dl dt {
  float: left;
  width: 20%;
  display: block;
  padding-bottom: 20px;
}
.section-info dl dd {
  float: right;
  width: 80%;
}
  .section-info__map {
    max-width: 840px;
    margin: 20px auto 40px;
    height: 330px;
  }
}
/*------------------------------------------------------------------*/

/*------------------------------------------------------------------*/

.section-history {
  background-color: #FFF;
  padding: 40px 24px 20px;
	margin-bottom: 60px;
}
.section-history h2 {
  max-width: 840px;
  padding-bottom: 40px;
  border-bottom: solid 1px #333;
  margin: 0 auto 40px;
}
.section-history dl {
  text-align: left;
}
.section-history dl dd {
  padding-bottom: 20px;
}

/*--------------------------*/
@media (min-width: 1040px) {
  .section-history {
    padding: 60px 36px 40px;
    max-width: 1040px;
    margin: 0 auto 60px;
    box-sizing: border-box;
  }
  .section-history h2 {
    text-align: left;
  }
 .section-history dl {
  max-width: 840px;
  overflow: hidden;
  text-align: left;
  margin: 0 auto;
}
.section-history dl dt {
  float: left;
  width: 20%;
  display: block;
  padding-bottom: 20px;
}
.section-history dl dd {
  float: right;
  width: 80%;
 }
}
/*------------------------------------------------------------------*/

/*------------------------------------------------------------------*/

.section-personal {
  background-color: #FFF;
  padding: 40px 0 0;
}
.section-personal__top {
  padding: 0 24px;
  margin-bottom: 40px;
}
.section-personal h2 {
  max-width: 840px;
  padding-bottom: 40px;
  border-bottom: solid 1px #333;
  margin: 0 auto 40px;
}
.section-personal__top-description {
  max-width: 840px;
  margin: 0 auto 20px;
  font-size: 1.8rem;
  text-align: left;
}
.section-personal__favorite__top-title {
  font-size: 2.0rem;
  font-weight: 600;
  margin-bottom: 40px;
}
.section-personal ul {
  margin: 0 18px;
  list-style: none;
  overflow: hidden;
}
.section-personal ul li {
  max-width:  327px;
  margin: 0 auto 40px;
  background-color: #FFF;
  border-radius: 6px;
  text-align: left;
  border: solid 1px #333;
}
.section-personal ul li h3 {
  font-size: 1.8rem;
  font-weight: 600;
}
.section-personal ul li p {
  font-size: 1.6rem;
}
.section-personal__favorite-picture {
  width: 100%;
  height: 186px;
  object-fit: cover;
  object-position: 0 0;
  border-radius: 6px 6px 0 0;
}
.section-personal__favorite-title {
  padding: 14px 20px;
}
.section-personal__favorite-description {
  padding: 0 20px 20px 20px;
}
/*--------------------------*/
@media (min-width: 1040px) {
  .section-personal {
    margin-bottom: 20px;
    max-width: 1040px;
    margin: 0 auto 60px;
    box-sizing: border-box;
  }
  .section-personal h2 {
    text-align: left;
  }
  .section-personal ul {
    max-width: 1040px;
    margin: 0 auto;
  }
  .section-personal ul li {
    display: inline-block;
    width: 320px;
    margin-right: 20px;
  }
  .section-personal ul li:last-child {
    margin-right: 0px;
  }
}

/*------------------------------------------------------------------*/

/*------------------------------------------------------------------*/
.footer {
  min-height: 228px;
  background-color: #888;
  padding-top: 46px;
  padding-bottom: 20px;
  font-weight: 600;
}
.footer__site-map {
  margin-bottom: 30px;
}
.footer__site-map h2 {
  display: none;
}
.footer__site-map li {
  margin: 0 10px;
  display: inline-block;
}
.footer__site-map li a {
  text-decoration: none;
  color: #CAD0D2;
}
.footer__site-map li a:visited {
  color: #CAD0D2;
}
.footer__sns_links {
  margin-bottom: 80px;
}
.footer__sns_links li {
  display: inline-block;
  width: 20px;
  margin: 0 10px;
}
.footer__sns_links li img {
  width: 100%;
}
.footer small {
  color: #fff;
}
/*--------------------------*/
@media (min-width:1040px) {
  .footer {
    margin: 0;
    padding: 0;
  }
  .footer__container {
    max-width: 1040px;
    margin: 0 auto;
    padding-top: 40px;
    text-align: left;
  }
  .footer__site-map {
    float: left;
  }
  .footer__site-map h2 {
  display: inline-block;
  width: 120px;
  vertical-align: top;
  color: #fff;
  }
  .footer__site-map ul {
    display: inline-block;
    margin-left: 10px;
  }
  .footer__site-map ul li {
    margin: 0;
    display: block;
  }
  .footer__sns_links {
    float: right;
  }
  .footer small {
    clear: both;
    display: block;
    text-align: center;
  }
}